@import
	url("/LesAmisDelEscalade/resources/00_centralisation/00_01_cssFiles/00_01_01_appSkin.css")
	;

/* ###############  START : set input and select box size identical ###################*/
input, select {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@
supports (-ms-ime-align:auto ) { .selector {input,select{ box-sizing:border-box;
	
}

}
}

/* ###############  END : set input and select box size identical ###################*/
table {
	width: 60%;
	min-width: 360px;
}

td {
	min-width: 20%;
}

.labelStyle, .inputStyle  {	
	font-family: menu-font;
	font-size: 20px;
}

.labelStyleBad, .inputStyleBad,option{
	font-family: menu-font;
	font-size: 12px;
}

.labelStyle, .inputStyle, option{
color: var(--base-color);
}

.labelStyleBad, .inputStyleBad{
	color: var(--bad-color);
	
}


.inputStyle {
	border: solid;
	border-style: thin dashed;
	border-color: var(--base-color);
	width: 90%;
}

.inputStyleBad {
	border: solid;
	border-style: thin dashed;
	border-color: var(--bad-color);
	width: 90%;
	
}

input[readonly = "readonly"] {
	cursor: default;
}

tr:hover .inputStyle {
	border-color: var(--base-color-opposite);
	
}

tr:hover .labelStyle {
	color: var(--base-color-opposite);;
}

@media all and (max-width: 1000px) {
	.labelStyle, .inputStyle, .labelStyleBad, .inputStyleBad {
		font-size: 12px;
	}
	option{
	font-size: 10px}
}

@media all and (max-width: 790px) {
	.labelStyle, .inputStyle, .labelStyleBad, .inputStyleBad,option {
		font-size: 10px;
	}
}

@media all and (max-width: 400px) {
	.labelStyle, .inputStyle, .labelStyleBad, .inputStyleBad,option {
		font-size: 8px;
	}
}

@media all and (max-width: 360px) {
	.labelStyle, .inputStyle, .labelStyleBad, .inputStyleBad,option {
		font-size: 6px;
	}
}