@import url("/LesAmisDelEscalade/resources/00_centralisation/cssFiles/appSkin.css");

.indexIframe{
	margin-left:auto;
	width: 98%;
	grid-area: indexIframe;
	overflow: auto;
}



.indexIframe iframe{
 	background: transparent;
}

::-webkit-scrollbar{
	width: 5px;
	background: transparent;
}



::-webkit-scrollbar-track {
    background: transparent;
    padding-bottom: 10px;
}

::-webkit-scrollbar-thumb{
	background:var(--base-color-opposite);
}

::-webkit-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 10px;
}







@-moz-document url-prefix() {
	.indexIframe {
	 scrollbar-color: var(--base-color) transparent ;
  	scrollbar-width: thin;
  	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
  		}
	}
