@import url("/LesAmisDelEscalade/resources/00_centralisation/cssFiles/appSkin.css");

body,html{
	height: 99%;
	overflow: hidden;
	margin: auto;
}



.ladeIndex{
	visibility: hidden;
	height: 100%;
	display: grid;
	grid-template-rows: 25% 75%;
	background: linear-gradient(to right, var(--base-color),rgba(32, 95, 126, 1),var(--base-color));
	grid-template-areas:
		'indexHeader'
		'indexIframe';

}

.indexHeader{
	grid-area: indexHeader;
	padding-bottom: 0.5%;
}

.indexIframe{
	grid-area:indexIframe
}


@media all and (max-width: 900px) {
	.ladeIndex{
		grid-template-rows: 10% 90%;
	}


}