@import url("/LesAmisDelEscalade/resources/00_centralisation/cssFiles/appSkin.css");

.centerDiv{
	width : 70%;
	margin: auto;
}

.messageContainer{
	width: 50%;
	padding: 0.5%;
	margin: auto;
	color: var(--base-color-opposite);
	font-family: menu-font;
	font-size: 2vw;
	background: linear-gradient(to bottom right, var(--base-color),rgba(32, 95, 126, 1),var(--base-color));
	border-radius:20px;
	text-shadow: 2px 1px 2px black;
	box-shadow: 5px 5px 5px var(--shadow-color);
}

.messageTitleGood,.messageTitleBad,.messageTitleMitaMita {
	text-align: center;
	font-size: 2.5vw;
	font-weight: bold;
}

.messageTitleBad {
	color: var(--bad-color);
}

.messageTitleGood {
	color: var(--highlith-color);
}

.messageTitleMitaMita {
	color: var(--mita-mita-color);
}

.messageBodyLeftAlign,.messageBodyCenterAlign,.messageBodyRightAlign,li{
	font-size: 1.2vw;
}
.messageBodyLeftAlign{
	text-align: left;
}

.messageBodyCenterAlign{
	text-align: center;
}

.messageBodyRightAlign{
	text-align: right;
}

.mailUnknown{
	color : var(--bad-color);
	font-weight: bold;
	font-size: 2vw;
}

.linkContainer{
	text-align: center;
}

.link {
	font-family: menu-font;
	font-size:1.2vw;
	color:var(--base-color-opposite);
	background: linear-gradient(to bottom right, var(--base-color),rgba(32, 95, 126, 1),var(--base-color));
	border: solid 2px var(--base-color) ;
	border-radius: 20px;
	padding: 0.5%;
	text-shadow: 2px 1px 2px black;
}

.link:hover{
	cursor: pointer;
	color:var(--hover-color1);
}

.errorMessage{
	position: absolute;
	color: var(--bad-color);
}

a{
	color : var(--highlith-color);
	font-size: 1.2vw;
}

a:visited{
	color : var(--highlith-color);
}

ol {
	display: block;
	text-align: center;
}

li {
	text-align: left;
	margin-bottom: 4px;
}


.link:hover, a:hover {
	cursor: pointer;
	color: var(--base-color-opposite);
}
@media all and (max-width: 900px) {
	.messageContainer{
	width: 100%;
	}

}


