/*  add to css to import this file:
@import url("/LesAmisDelEscalade/resources/00_centralisation/00_01_cssFiles/00_01_01_appSkin.css"); 
*/

@import url("/LesAmisDelEscalade/resources/00_centralisation/00_01_cssFiles/00_01_00_colorAndFont.css");



:root{	
	--header-bg-images : url("/LesAmisDelEscalade/resources/00_centralisation/00_02_ImagesSrc/00_02_01_headerBgImage.jpg");	
	--header-text-color : var(--base-color);
	--header-text-shadow-lvl1 : var(--text-shadow-lvl1); 
	--header-text-shadow-lvl2 : var(--text-shadow-lvl2);
	--menu-icon-color : var(--base-color);
	--menu-icon-hover-color: var(--base-color-opposite);
	--menu-icon-invert-hover-color: var(--hover-color1);
	--menu-connexion-color: var(--base-color);
	--menu-connexion-hover-color: var(--base-color-opposite);
	--menu-bg-color: var(--base-color);
	--menu-bg-hover-color: var(--base-color);
	--menu-text-color: var(--base-color-opposite);
	--menu-text-shadow:var(--base-color);
	--menu-hover-text-shadow-lvl1: var(--text-shadow-lvl1);
	--menu-hover-text-shadow-lvl2: var(--text-shadow-lvl2);	
	--menu-text-hover-color: var(--hover-color1);
	--menu-border-color: var(--base-color);
	--menu-border-hover-color:var(--base-color-opposite);
	--backgroundDiag3Colors:linear-gradient(to bottom right, var(--base-color),var(--base-color-light),var(--base-color));
	
}