@import url("/LesAmisDelEscalade/resources/00_centralisation/00_01_cssFiles/00_01_01_appSkin.css"); 

body ,html{
	height: 100%;
}


.head{
position:relative;
max-width:100%;
height: 30%;

}

.bgImage{
background-image: var(--header-bg-images);
max-width:100%;
height: 100%;
filter:blur(2px);
background-position:center; 
background-repeat: no-repeat;
background-size: 100% 100%;
}

.headBox{  
	position:absolute;
  font-family: var(--header-font-familiy);
  font-size:6vw;
  font-weight:900;  
  position: absolute;
  top: -1vw;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: 3;
  width: 90%;
  height: 10%;
  text-align: center;  
  color:var(--header-text-color);
  letter-spacing: .1em;
  text-shadow: 
      -1px -1px 1px var(--header-text-shadow-lvl1), 
      2px 2px 1px var(--header-text-shadow-lvl2); 
}


@media all and (max-width: 1200px) {
	.head{
max-width:100%;
height: 20%;
}
	.headBox{
	top: 1vw;}
	
	
}

@media all and (max-width: 650px) {
	.head{
max-width:100%;
height: 10%;
}
	.headBox{
	top: -1vw;}
	
	
}
