@import
	url("/LesAmisDelEscalade/resources/00_centralisation/00_01_cssFiles/00_01_01_appSkin.css");

.icon {	
	display: inline-block;	
	font-size: 2vw;
	float:left;
	cursor: pointer;
}


.iconBasis{
	color: var(--menu-icon-color);
}

.iconBasis:hover {
	color: var(--menu-icon-hover-color);	
}

.iconInvert{
	color: var(--menu-icon-hover-color);
}

.iconInvert:hover{
	color: var(--menu-icon-color);
}

.firstLign{
	width: 100%;
	display: flex;
	
}

.greetings{
	width: 95%;
	text-align: justify;	
}

.containerConnexion {	
	width: 10%;
	text-align: right;
	
}


.connexion,.identifiedAs,.pseudo {	
	text-decoration: none;
	font-size: 1.5vw;
	font-family: header-font;
	
}
.connexion,.identifiedAs{
color: var(--menu-connexion-color);	
}

.pseudo{
	text-align: center;
	color:var(--highlith-color);
}

.connexion:hover{
	color: var(--menu-connexion-hover-color);
}

.list {	
	list-style-type: none;	
	overflow: hidden;
	border:solid;	
	border-color: var(--menu-border-color);
	margin:0;
	padding:0;
	background-color: var(--menu-bg-color);
	width: 100%;
	
}



.list>li {
	float: left;	
}

.list>li a {
	display: block;
	padding-left: 2vw;
	font-size: 1.5vw;
	font-family: header-font;
	font-weight: bold;
	cursor: pointer;
	color: var(--menu-text-color);
	text-decoration: none;
	
	
}

.list>li a:hover {
	color: var(--menu-text-hover-color);
	font-size: 1.5vw;	
}





@media all and (max-width: 1400px) {
	.list>li a, .connexion {
		font-size: 1.5vw;
	}
	.list>li a:hover, .connexion {
		font-size: 1.5vw;
	}
}

@media all and (max-width: 800px) {
	.list>li {
		float: none;
		display: list-item;
	}
	.list>.connexion {
		float: none;
		display: list-item;
	}
	.list>li a {
		font-size: 1vh;
		border: solid;
		border-color: var(--menu-border-color);
	}
	.connexion {
		font-size: 2vw;
	}
	.list>li a:hover {
		font-size: 2vw;
		border: solid;
		border-color: var(--menu-border-hover-color);
	}
	.connexion:hover {
		font-size: 2vw;
	}
}