

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

@font-face {
  font-family: menu-font;
  src: url("/LesAmisDelEscalade/resources/00_centralisation/00_03_fonts/00_03_01_Handlee-Regular.ttf");
}
@font-face {
  font-family: header-font;
  src: url("/LesAmisDelEscalade/resources/00_centralisation/00_03_fonts/00_03_02_Lobster-Regular.ttf") format("truetype");  
}

:root{
	
	--base-color: rgb(17,36,45);
	--base-color-opposite : darkOrange;
	--mita-mita-color: OrangeRed;
	--bad-color : FireBrick;
	--hover-color1 : white;
	--text-shadow-lvl1 : orange;
	--text-shadow-lvl2 : darkOrange;
	--highlith-color: SeaGreen;
}